In [7]:
#Q1. How do you comment code in Python? What are the different types of comments?

"""There are basicaly two type of comment code avialable in python. one is  Single-Line Comments and another is Multi-Line Comments in python""" 
# Single-Line Comments in Python   (Here we can use '#' or wecan use """)
# Multi-Line Comments in Python    (Here we can use only """)

"""India or ‘Republic of India’ is a peninsular country in Asia i.e. it is surrounded by water from three sides.
India is the seventh largest country in the world with 7 neighbouring countries."""  # so here the example of Multiline comments using string literals

'India or ‘Republic of India’ is a peninsular country in Asia i.e. it is surrounded by water from three sides.\nIndia is the seventh largest country in the world with 7 neighbouring countries.'

In [8]:
#Q2. What are variables in Python? How do you declare and assign values to variables?

"""
Variables= Variables are containers for storing data values.
A Python variable name must start with a letter or the underscore character.
A Python variable name cannot start with a number.
A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
Variable in Python names are case-sensitive (name, Name, and NAME are three different variables)."""
#Example:
var="PWSkills_Data science_2.0"
print(var)
type(var)

PWSkills_Data science_2.0

str

In [9]:
#Q3. How do you convert one data type to another in Python?

l1=[0,1,5,3,6,9,8,7,21,22,14,54]    # Here l1 is List data type.
s1="l1"                            # Here s1 is the variable and assign the l1 as string type data.
type(s1)

str

In [18]:
#Q4. How do you write and execute a Python script from the command line?


"""Open a text editor and create a new file. You can use only text editor you prefer, such as Notepad,sublime text, or Visual Studio Code.
write your python code in the text editor,saving the file with a .py extension. for example, you could save the file as myscript.py.
Open a command prompt on terminal winwod.
Navigate to the directory where you saved your Python script using the 'cd' command"""

"Open a text editor and create a new file. You can use only text editor you prefer, such as Notepad,sublime text, or Visual Studio Code.\nwrite your python code in the text editor,saving the file with a .py extension. for example, you could save the file as myscript.py.\nOpen a command prompt on terminal winwod.\nNavigate to the directory where you saved your Python script using the 'cd' command"

In [11]:
# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
my_list = [1, 2, 3, 4, 5]
sub_list=my_list[1:3]
print(sub_list)

[2, 3]

In [12]:
#Q6. What is a complex number in mathematics, and how is it represented in Python?

"""Copmlex number= Complex numbers are the numbers that are expressed in the form of a+ib where, 
a,b are real numbers and 'i' is an imaginary number called “iota”.
 The value of i = (√-1). For example, 2+3i is a complex number, where 2 is a real number and 3i is an imaginary number"""
 # In python it is represented as 'j' , Example: 2+5j

a=2+5j
type(a)

complex

In [13]:
# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

age=25
type(age)

int

In [14]:
# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

price=9.99
type(price)

float

In [15]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?
name= "Kingshuk Roy"

In [16]:
# Q10. Given the string "Hello, World!", extract the substring "World".
s1="Hello, World!"
sub_string=s1[7:12]
print(sub_string)

World

In [17]:
# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.
is_student = input("Enter boolean value: ")
is_student = is_student.lower() == "true"

if is_student == True:
  print('Student')
elif is_student == False:
  print('not')
print(type(is_student))
is_student

Enter boolean value: False
not
<class 'bool'>

False